<!DOCTYPE html>
<html>

<body>
    <form method="POST" action="http://127.0.0.1:8000/api/v1/accounts/login/" id="loginForm">
        <div>
            <label>Username : </label>
            <input type="text" id="username">
        </div>
        <div>
            <label>Password: </label>
            <input type="password" id="password">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>

<script>
    window.onload = () => {
        const formEl = document.getElementById("loginForm")
        formEl.addEventListener('submit', userLogin);

        }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function userLogin(event) {
            event.preventDefault();

            const data = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value,
            };

            const jsonData = JSON.stringify(data);

            fetch(`/api/v1/accounts/login/`, {
                method: 'post',
                headers:
                {
                    "X-CSRFToken": getCookie('csrftoken'),
                    'Content-Type': 'application/json',
                },
                body: jsonData
            })
                .then(response => {
                    console.log(response)
                    if (response.ok) {
                        window.location.href = 'http://127.0.0.1:8000/blogs';
                    }
                    else {
                        alert("Wrong Username or Password");
                        console.error('Error logging in:', response.status);
                    }
                })
                .catch(error => console.error('Error fetching user:', error));
        }

</script>

</html>