<!DOCTYPE html>
<html>

<body>
    <h1 id="username"></h1>
    <a id="refRegister" href="http://127.0.0.1:8000/accounts/register"><button id="register">Register?</button></a>
    <a id="refLogin" href="http://127.0.0.1:8000/accounts/login"><button id="login">Login?</button></a>
    <a id="refBlog" href="http://127.0.0.1:8000/blogs/"><button id="snippet">Go to Blogs??</button></a>
    <button id="logout">Logout?</button>
    <ul id="list">

    </ul>

</body>
<script>
    window.onload = () => {
        let logoutEl = document.getElementById('logout');
        logoutEl.addEventListener("click", userLogout)

        userList()
    }
    function getCookie(name) 
    {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function userList() 
    {
        fetch("/api/v1/accounts/list")
            .then(response => response.json())
            .then(data => {
                let username = document.getElementById("username");
                username.textContent = '{{ user }}'

                const ulNode = document.getElementById("list");
                data.forEach(user => {
                    console.log(user)
                    const listItem = document.createElement('li');
                    const link = document.createElement('a');
                    link.textContent = user.username + ': ' + user.email;
                    link.setAttribute('href', `http://127.0.0.1:8000/accounts/${user.id}`)
                    listItem.appendChild(link)
                    ulNode.appendChild(listItem)
                });
            })
            .catch(error => console.error('Error fetching users:', error));

    }
    function userLogout() 
    {
        fetch(`/api/v1/accounts/logout/`, {
            method: 'post',
            headers:
            {
                "X-CSRFToken": getCookie('csrftoken'),
                'Content-Type': 'application/json',
            },
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = 'http://127.0.0.1:8000/accounts';
                }
                else {
                    console.error('Error logging out:', response.status);
                }
            })
            .catch(error => console.error('Error fetching user:', error));
    }

</script>

</html>