<!DOCTYPE html>
<html>

<body>
    <form method="POST" action="" id="createForm">
        <div>
            <label>Username : </label>
            <input type="text" id="username">
        </div>
        <div>
            <label>Email : </label>
            <input type="text" id="email">
        </div>
        <div>
            <label>Password: </label>
            <input type="password" id="password">
        </div>
        <div>
            <label>Confirm Password: </label>
            <input type="text" id="confirmPassword">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>

<script>
    window.onload = () => {
        const formEl = document.getElementById("createForm")
        formEl.addEventListener('submit', userCreate);

      }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function userCreate(event) {
        event.preventDefault();

        let password = document.getElementById('password');
        let confirmPassword = document.getElementById('confirmPassword');

        if (password.value != confirmPassword.value) {
            alert("Passwords don't match");
            return false;
        }

        const data = {
            username: document.getElementById('username').value,
            email: document.getElementById('email').value,
            password: password.value,
        };


        const jsonData = JSON.stringify(data);

        fetch(`/api/v1/accounts/register/`, {
            method: 'post',
            headers:
            {
                "X-CSRFToken": getCookie('csrftoken'),
                'Content-Type': 'application/json',
            },
            body: jsonData
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = 'http://127.0.0.1:8000/accounts';
                }
                else {
                    console.error('Error creating the user:', response.status);
                }
            })
            .catch(error => console.error('Error fetching user:', error));
    }

</script>

</html>