<!DOCTYPE html>
<html>

<body>
    <ul>
        <li id="name">Topic: </li>
        <li id="tag">Tag: </li>
        <li id="user">Post by: </li>
        <li id="updated_on">Last Edit: </li>
        <li id="created_on">Created: </li>
        <li id="content">Content: </li>
    </ul>
    <a id="toDelete">
        <button id="deleteButton">Delete?</button>
    </a>
    <a id="toUpdate">
        <button id="updateButton">Update?</button>
    </a>
    <a id="toComment">
        <button id="commentButton">Comment?</button>
    </a>
    <a id="indexRef" href="http://127.0.0.1:8000/blogs/">
        <button type="button" id="index">Go back</button>
    </a>

    <div id="comment_section">
    
    </div>
</body>
<script>

    window.onload = () => {
        let refDelete = document.getElementById('toDelete');
        refDelete.setAttribute('href', `http://127.0.0.1:8000/blogs/deleteblog/${window.location.pathname.split("/")[2]}`);

        let refUpdate = document.getElementById('toUpdate');
        refUpdate.setAttribute('href', `http://127.0.0.1:8000/blogs/updateblog/${window.location.pathname.split("/")[2]}`);
        
        let refComment = document.getElementById('toComment');
        refComment.setAttribute('href', `http://127.0.0.1:8000/blogs/createcomment/${window.location.pathname.split("/")[2]}`);

        blogDetail()

        commentList()
    }
    function blogDetail() {
        fetch(`/api/v1/blogs/${window.location.pathname.split("/")[2]}`)
            .then(response => response.json())
            .then(data => {
                let name = document.getElementById('name');
                name.textContent += data.name

                let tag = document.getElementById('tag');
                tag.textContent += data.tag

                let user = document.getElementById('user');
                user.textContent += data.user

                let updated_on = document.getElementById('updated_on');
                updated_on.textContent += data.updated_on

                let created_on = document.getElementById('created_on');
                created_on.textContent += data.created_on

                let content = document.getElementById('content');
                content.textContent += data.content

            })
            .catch(error => console.error('Error fetching the blog:', error));
    }

    function commentList() {
        fetch(`/api/v1/comments/${window.location.pathname.split("/")[2]}/list`)
            .then(response => response.json())
            .then(data => {
                const comment_section = document.getElementById("comment_section");
                data.forEach(comment => {
                    let ulNode = document.createElement('ul')
                    let user = document.createElement('li');
                    let created_date = document.createElement('li');
                    let content = document.createElement('li');

                    let refCommentDelete = document.createElement('a');
                    let refCommentUpdate = document.createElement('a');
                    refCommentDelete.setAttribute('href', `http://127.0.0.1:8000/blogs/deletecomment/${comment.id}`);
                    refCommentUpdate.setAttribute('href', `http://127.0.0.1:8000/blogs/updatecomment/${comment.id}`);

                    let commentDelete = document.createElement('button');
                    let commentUpdate = document.createElement('button');
                    commentDelete.textContent = "Delete?"
                    commentUpdate.textContent = "Edit?"

                    user.textContent = "Commenter: "+ comment.user
                    created_date.textContent = "Created Date: "+ comment.created_on
                    content.textContent = "Content: "+ comment.content

                    ulNode.appendChild(user)
                    ulNode.appendChild(created_date)
                    ulNode.appendChild(content)

                    refCommentDelete.appendChild(commentDelete);
                    refCommentUpdate.appendChild(commentUpdate);
                    
                    ulNode.appendChild(refCommentDelete)
                    ulNode.appendChild(refCommentUpdate)

                    comment_section.appendChild(ulNode)
                });
            })
            .catch(error => console.error('Error fetching blogs:', error));
    }
</script>

</html>